<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />



</head>
<body>

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container">
			<a class="navbar-brand" asp-action="Index">Hashtag.com</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">


				<ul class="nav">
				
					<li class="nav-item me-1">
						<a class="nav-link" asp-action="Index" asp-controller="Member">Üye Ana Sayfa</a>
					</li>
					<li class="nav-item me-1">
						<a class="btn btn-info" asp-action="Index" asp-controller="Admin">Admin Ana Sayfa</a>
					</li>
					<li class="nav-item me-1">
						<a class="btn btn-info" asp-action="Editor" asp-controller="Member">Editör Ana Sayfa</a>
					</li>
					<li class="nav-item me-1">
						<a class="btn btn-info" asp-action="Manager" asp-controller="Member">Manager Ana Sayfa</a>
					
					
				</ul>

				
				
				

			</div>
		</div>

	</nav>



	<div class="container mt-3">
		<div class="row">
			<div class="col-md-8">
				@RenderBody()
			</div>

			<div class="col-md-4">
				<h3>Menü</h3>

			<a class="btn btn-danger" asp-action="AnkaraPage" asp-controller="Member">Ankara Sayfa</a>

			<a class="btn btn-danger" asp-action="ViolencePage" asp-controller="Member">Şiddet İçeren Sayfa</a>
			<a class="btn btn-danger" asp-action="ExchangeRedirect" asp-controller="Member">Borsa Bilgileri</a>
				<a class="btn btn-info d-block mt-3" asp-action="PasswordChange" asp-controller="Member">Şifre Değiştirme</a>
				<a class="btn btn-info  d-block mt-3" asp-action="UserEdit" asp-controller="Member">Bilgi Güncelleme</a>
				<a class="btn btn-info  d-block mt-3" asp-action="LogOut" asp-controller="Member" asp-route-returnUrl="/Home/Index" >Çıkış Yap</a>
			</div>

		</div>
		
	</div>
	<script src="~/lib/jquery/jquery.js"></script>
	<script src="~/lib/jquery-validate/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
