
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<div class="alert alert-info">30 gün boyunca bu sayfayı ücretsiz bir şekilde görebilirsiniz.</div>
<h4>Borsa Grafikleri</h4>

