@model CoreIdentityProject.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
}


<h4>Şifremi Unuttum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-info">

            Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız.
            Şifre değiştirme linkini e-posta adresine göndereceğiz.
        </div>
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>


<div>
    <a class="btn btn-danger mt-2" asp-action="Index">Back to List</a>
</div>
